<div class="col-xs-9">
  <div class="row">
    <div class="text-center extra-botton-padding">
      <h1>Bem Vindo Ao Rails Motors :)</h1>
      <h3>Consulte os modelos por Marca.</h3>
    </div>
  </div>
  <div class="row text-center">
    <%= form_tag models_path, method: :get do %>
      <div class="row">
        <p class="col-xs-4 col-xs-offset-4">
          <%= label_tag 'Escolha a Fabricante:' %>
          <%= select_tag "make[id]", options_from_collection_for_select(@makers, "id", "name"), class: "form-control" %>
        </p>
      </div>
      <div class="row">
        <%= submit_tag "Buscar modelos", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>